<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Current Rates of Turkish Lira</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/api/v1/currency}">Current Rates</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container">
    <div class="row">
        <h2>List of CURRENCY to TRY Table</h2>
    </div>
    <div class="row">
        <h3 style="color: mediumvioletred;">Last update of Table :  </h3>
        <h3 th:text="${' ' + currencies.get(0).getTimeLastUpdateUtc()}" style="color: mediumvioletred;"></h3>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/api/v1/currency}" class="btn btn-success btn-sm mb-3">Switch to TRY to CURRENCY table</a>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Base Currency</th>
            <th>Unit</th>
            <th>Currency Code</th>
            <th>Currency Value</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="currency : ${currencies}">
            <td th:text="${currency.currencyCode + '/' + currency.baseCode}"></td>
            <td th:text="1"></td>
            <td th:text="${currency.currencyCode}"></td>
            <td th:text="${currency.currencyValue}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>